pandas==1.1.5
regex==2020.11.13
spacy==2.3.4
tweepy==3.9.0
dash==1.18.1
textblob==0.15.3
textblob_fr==0.2.0
scipy==1.6.0
threadpoolctl==2.1.0
scikit-learn==0.24.0
flask_caching==1.9.0
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.3.0/fr_core_news_sm-2.3.0.tar.gz#egg=fr_core_news_sm==2.3.0